// Colors
$primary-green: #57B660;
$primary-white: #FFFFFF;
$primary-black: #191414;

$primary-green-hover: #61C86A;
$decorative-blue-moon: #649AED;
$decorative-red-red-wine: #EB5640;
$decorative-mellow-yellow: #FEC874;
$decorative-whiter-shade-of-pale: #A7C7D1;
$decorative-evergreen: #D5F479;
$decorative-pretty-in-pink: #F7CFD4;
$decorative-pink-moon: #E57BA1;
$decorative-yellow-submarine: #F4E557;

$grey-0: rgba(255, 255, 255, 0.04); // 4% White
$grey-1: rgba(255, 255, 255, 0.08); // 8% White
$grey-2: rgba(255, 255, 255, 0.12); // 12% White
$grey-3: rgba(255, 255, 255, 0.20); // 20% White
$grey-4: rgba(255, 255, 255, 0.30); // 30% White
$grey-5: rgba(255, 255, 255, 0.40); // 40% White
$grey-6: rgba(255, 255, 255, 0.50); // 50% White

$context-menu-grey-bg: #282828;

// Font Variables
$font-family-ios: 'SF Pro Display', sans-serif;
$font-family-android: 'Roboto', sans-serif;
$font-family-headings: 'Circular Spotify', sans-serif;

// Text Colors
$color-primary: $primary-white;
$color-secondary: $grey-5;

// Typography Sizes and Line Heights
$heading-1-size: 48px;
$heading-1-line-height: 52px;

$heading-2-size: 40px;
$heading-2-line-height: 44px;

$heading-3-size: 32px;
$heading-3-line-height: 36px;

$heading-4-size: 28px;
$heading-4-line-height: 32px;

$heading-5-size: 24px;
$heading-5-line-height: 28px;

$heading-6-size: 20px;
$heading-6-line-height: 24px;

$body-1-size: 18px;
$body-1-line-height: 24px;

$body-2-size: 16px;
$body-2-line-height: 20px;

$body-3-size: 14px;
$body-3-line-height: 20px;

$small-size: 12px;
$small-line-height: 16px;
