// Circular Spotify
@font-face {
  font-family: 'Circular Spotify';
  src: url('../../assets/fonts/circular-spotify-text-font/CircularSpotifyText-Bold.otf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Circular Spotify';
  src: url('../../assets/fonts/circular-spotify-text-font/CircularSpotifyText-Black.otf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

// Android Fonts
@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// iOS Fonts
@font-face {
  font-family: 'SF Pro Display';
  src: url('../../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../../assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF') format('opentype');
  font-weight: 500;
  font-style: normal;
}
